<%- include('partials/header.ejs'); %>
<body style=" background-color: #DCDCDC">
  <%- include('partials/navbar.ejs'); %>
  
    <hr>
    <h2 style="text-align: center;">Games</h2>
    <hr>
  <div style="width: 85%; float: left;">
    
    <% game.forEach(game =>{ %>
      
          <div class="card" style="width: 15rem; margin-left: 1%; margin-bottom: 2%; display: inline-block; border: 1px solid #A9A9A9; border-radius: 12px; box-shadow: 0 0 3px 2px #A9A9A9;">
              <img src="<%= game.img %>"   style="height: 12rem; width: 15rem;" class="img-fluid" alt="Imagem responsiva">
              <div class="card-body">
                  <h5 class="card-title"><%= game.name %></h5>
                  <br>
                  <a href="/games/download/<%= game.id %>" class="btn btn-primary">Download</a>
            </div>
          </div>
      
    <% }) %>  
    </div>
    <div style=" display: inline-block; border: 1px solid #A9A9A9; border-radius: 12px; box-shadow: 0 0 2px 2px #A9A9A9; padding: 1em 1em 1em">
      <h3>Categorias</h3>
      <br>
      <hr>
      <h5>Aventura</h5>
      <h5>Ação</h5>
      <h5>FPS</h5>
      <h5>RPG</h5>
      <h5>Corrida</h5>
    </div>
</body>