<%- include('../../partials/header.ejs'); %>
<body style=" background-color: #DCDCDC">
    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <a class="btn btn-success" href="/new/category">Adicionar Nova Categoria</a>
        <a class="btn btn-success" href="/home">Pagina inicial</a> 
        <hr>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>ações</th>
            </tr>
            <% category.forEach(category =>{ %>
                <tr>    
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th> 
                        <a class="btn btn-warning" href="/admin/edit/<%= category.id %>">Editar</a> 
                        <form method="POST" action="/admin/category/delete" style="display: inline">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Excluir</button>          
                        </form>    
                    </th>
                </tr>
            <% }) %>
        </table>
    </div>
</body>
<%- include ('../../partials/footer.ejs'); %>